<?xml version="1.0"?>
<config>
    <modules>
        <Flagbit_MEP>
            <version>0.4.0</version>
        </Flagbit_MEP>
    </modules>

    <global>
        <blocks>
            <mep>
                <class>Flagbit_MEP_Block</class>
            </mep>
        </blocks>

        <helpers>
            <mep>
                <class>Flagbit_MEP_Helper</class>
            </mep>
        </helpers>
        <models>
            <mep>
                <class>Flagbit_MEP_Model</class>
                <resourceModel>mep_mysql4</resourceModel>
            </mep>

            <mep_mysql4>
                <class>Flagbit_MEP_Model_Mysql4</class>
                <entities>
                    <profile>
                        <table>mep_profile</table>
                    </profile>
                    <mapping>
                        <table>mep_profile_attribute</table>
                    </mapping>
                    <attribute_mapping>
                        <table>mep_attribute_mapping</table>
                    </attribute_mapping>
                    <attribute_mapping_option>
                        <table>mep_attribute_mapping_option</table>
                    </attribute_mapping_option>
                    <rule>
                        <table>mep_rule</table>
                    </rule>
                    <shipping>
                        <table>mep_shipping</table>
                    </shipping>
                    <shipping_attribute>
                        <table>mep_shipping_attribute</table>
                    </shipping_attribute>
                </entities>
            </mep_mysql4>
        </models>

        <resources>
            <mep_setup>
                <setup>
                    <module>Flagbit_MEP</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mep_setup>
            <mep_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mep_write>
            <mep_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mep_read>
        </resources>

        <mep module="mep">
            <export_entities>
                <catalog_product translate="label">
                    <model_token>mep/export_entity_product</model_token>
                    <label>Products MEP</label>
                </catalog_product>
            </export_entities>
            <export_file_formats>
                <twig translate="label">
                    <model_token>mep/export_adapter_twig</model_token>
                    <label>CSV-Template</label>
                </twig>
            </export_file_formats>
        </mep>
    </global>


    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mep before="Mage_Adminhtml">Flagbit_MEP_Adminhtml</mep>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <events>
            <catalog_category_prepare_save>
                <observers>
                    <mep_catalog_category_prepare_save>
                        <class>mep/observer</class>
                        <method>catalogCategoryPrepareSave</method>
                    </mep_catalog_category_prepare_save>
                </observers>
            </catalog_category_prepare_save>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <mep_adminhtml_catalog_category_tabs>
                        <class>mep/observer</class>
                        <method>adminhtmlCatalogCategoryTabs</method>
                    </mep_adminhtml_catalog_category_tabs>
                </observers>
            </adminhtml_catalog_category_tabs>
        </events>
        <layout>
            <updates>
                <mep>
                    <file>mep.xml</file>
                </mep>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <mep_profiles_enabled>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mep/observer::exportEnabledProfiles</model>
                </run>
            </mep_profiles_enabled>
            <mep_run_profile>
                <run>
                    <model>mep/observer::runProfile</model>
                </run>
            </mep_run_profile>
        </jobs>
    </crontab>
</config>
