<?xml version="1.0"?>
<!--
	/*                                                                       *
	* This script is part of the psexport project			         *
	*                                                                        *
	* findologic is free software; you can redistribute it and/or modify  *
	* it under the terms of the GNU General Public License version 2 as      *
	* published by the Free Software Foundation.                             *
	*                                                                        *
	* This script is distributed in the hope that it will be useful, but     *
	* WITHOUT ANY WARRANTY; without even the implied warranty of MERCHAN-    *
	* TABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General      *
	* Public License for more details.                                       *
	*                                                                        *
	* @version $Id: config.xml 403 2010-06-14 12:34:51Z weller $
	* @license http://opensource.org/licenses/gpl-license.php GNU Public License, version 2
	*/
-->
<config>
	<modules>
		<Flagbit_PSExport>
			<version>1.1.3</version>
		</Flagbit_PSExport>
	</modules>

	<global>
		
		<helpers>
			<flagbit_psexport>
				<class>Flagbit_PSExport_Helper</class>
			</flagbit_psexport>
		</helpers>
		
		<blocks>
			<flagbit_psexport>
				<class>Flagbit_PSExport_Block</class>
			</flagbit_psexport>			
			<adminhtml>
				<rewrite>
					<system_convert_gui_edit_tabs>Flagbit_PSExport_Block_System_Convert_Gui_Edit_Tabs</system_convert_gui_edit_tabs>
					<system_convert_gui_edit>Flagbit_PSExport_Block_System_Convert_Gui_Edit</system_convert_gui_edit>
					<system_convert_profile_edit_tab_history>Flagbit_PSExport_Block_System_Convert_Gui_Edit_Tab_History</system_convert_profile_edit_tab_history>
				</rewrite>
			</adminhtml>
		</blocks>     
		<models>
			<core>
				<rewrite>
					<convert>Flagbit_PSExport_Model_Convert</convert>
				</rewrite>
			</core>
			<flagbit_psexport>
				<class>Flagbit_PSExport_Model</class>
				<resourceModel>flagbit_psexport_mysql4</resourceModel>
			</flagbit_psexport>
            <flagbit_psexport_mysql4>
                <class>Flagbit_PSExport_Model_Mysql4</class>
            </flagbit_psexport_mysql4>
			<catalog>
				<rewrite>
					<convert_parser_product>Flagbit_PSExport_Model_Convert_Parser_Product</convert_parser_product>
					<convert_adapter_product>Flagbit_PSExport_Model_Convert_Adapter_Product</convert_adapter_product>
				</rewrite>
			</catalog>
			<catalog_resource_eav_mysql4> 
				<rewrite>
					<product_action>Flagbit_PSExport_Model_Resource_Eav_Mysql4_Product_Action</product_action>
				</rewrite>
			</catalog_resource_eav_mysql4>		
			<dataflow>
				<rewrite>
					<profile>Flagbit_PSExport_Model_Profile</profile>
					<profile_history>Flagbit_PSExport_Model_Profile_History</profile_history>			
					<convert_mapper_column>Flagbit_PSExport_Model_Convert_Mapper_Column</convert_mapper_column>
					<batch_export>Flagbit_PSExport_Model_Batch_Export</batch_export>
				</rewrite>
			</dataflow>				
		</models>
        <resources>
            <flagbit_psexport_setup>
                <setup>
                    <module>Flagbit_PSExport</module>
                    <class>Flagbit_PSExport_Model_Resource_Eav_Mysql4_Setup</class>					
                </setup>
            </flagbit_psexport_setup>
        </resources>
		<events>
            <controller_action_predispatch_adminhtml_system_convert_gui_save>
                <observers>
                    <catalog_product_compare_item>
                        <class>flagbit_psexport/observer</class>
                        <method>profileSave</method>
                    </catalog_product_compare_item>
                </observers>
            </controller_action_predispatch_adminhtml_system_convert_gui_save>
        </events>		
	</global>
    <crontab>
        <jobs>
        	<flagbit_psexport_minutely>
                <schedule><cron_expr>0 * * * * ?</cron_expr></schedule>
                <run><model>flagbit_psexport/schedule::runMinutely</model></run>
            </flagbit_psexport_minutely>
            <flagbit_psexport_daily>
                <schedule><cron_expr>*/5 2-4 * * *</cron_expr></schedule>
                <run><model>flagbit_psexport/schedule::runDaily</model></run>
            </flagbit_psexport_daily>
            <flagbit_psexport_weekly>
                <schedule><cron_expr>*/5 2-4 * * 0</cron_expr></schedule>
                <run><model>flagbit_psexport/schedule::runWeekly</model></run>
            </flagbit_psexport_weekly>
            <flagbit_psexport_monthly>
                <schedule><cron_expr>*/5 2-4 1 * *</cron_expr></schedule>
                <run><model>flagbit_psexport/schedule::runMonthly</model></run>
            </flagbit_psexport_monthly>						
        </jobs>
    </crontab>	
	<default>
		<flagbit_psexport>
			<templates>
				<google_merchant_center>
					<name>Google Merchant Center</name>
					<entity_type>product</entity_type>
					<direction>export</direction>
					<gui_data>
						<export>
							<add_url_field>1</add_url_field>
						</export>
						<file>
							<type>file</type>
							<filename>google_merchant_center.csv</filename>
							<path>psexport</path>
						</file>
						<parse>
							<type>csv</type>
							<delimiter>\t</delimiter>
							<enclose></enclose>
							<fieldnames>1</fieldnames>
						</parse>
						<map>
							<only_specified>1</only_specified>
							<product>
								<item1>
									<db>sku</db>
									<file>id</file>
									<format></format>
								</item1>
								<item2>
									<db>name</db>
									<file>titel</file>
									<format></format>
								</item2>
								<item3>
									<db>description</db>
									<file>description</file>
									<format></format>
								</item3>
								<item4>
									<db>choose an attribute</db>
									<file>google_product_category</file>
									<format></format>
								</item4>
								<item5>
									<db>type</db>
									<file>product_type</file>
									<format></format>
								</item5>
								<item6>
									<db>url_key</db>
									<file>link</file>
									<format></format>
								</item6>
								<item7>
									<db>image_url</db>
									<file>image_link</file>
									<format></format>
								</item7>
								<item8>
									<db>small_image</db>
									<file>additional_image_link</file>
									<format></format>
								</item8>
								<item9>
									<db>fixed_value_format</db>
									<file>condition</file>
									<format>neu</format>
								</item9>
								<item10>
									<db>fixed_value_format</db>
									<file>availability</file>
									<format>in stock</format>
								</item10>
								<item11>
									<db>price</db>
									<file>price</file>
									<format>%01.2f</format>
								</item11>
								<item12>
									<db>special_price</db>
									<file>sale_price</file>
									<format>%01.2f</format>
								</item12>
								<item13>
									<db>special_from_date,special_to_date</db>
									<file>sale_price_effective_date</file>
									<format>%s/%s</format>
								</item13>
								<item14>
									<db>manufacturer</db>
									<file>brand</file>
									<format></format>
								</item14>
								<item15>
									<db>choose an attribute</db>
									<file>gtin</file>
									<format></format>
								</item15>
								<item16>
									<db>choose an attribute</db>
									<file>mpn</file>
									<format></format>
								</item16>
								<item17>
									<db>choose an attribute</db>
									<file>item_groupe_id</file>
									<format></format>
								</item17>
								<item18>
									<db>color</db>
									<file>color</file>
									<format></format>
								</item18>
								<item19>
									<db>choose an attribute</db>
									<file>material</file>
									<format></format>
								</item19>
								<item20>
									<db>choose an attribute</db>
									<file>pattern</file>
									<format></format>
								</item20>
								<item21>
									<db>choose an attribute</db>
									<file>size</file>
									<format></format>
								</item21>
								<item22>
									<db>choose an attribute</db>
									<file>grender</file>
									<format></format>
								</item22>
								<item23>
									<db>choose an attribute</db>
									<file>age_group</file>
									<format></format>
								</item23>
								<item24>
									<db>tax_class_id</db>
									<file>tax</file>
									<format></format>
								</item24>
								<item25>
									<db>fixed_value_format</db>
									<file>shipping</file>
									<format></format>
								</item25>
								<item26>
									<db>weight</db>
									<file>shipping_weight</file>
									<format></format>
								</item26>
								<item27>
									<db>choose an attribute</db>
									<file>excluded_destination</file>
									<format></format>
								</item27>
								<item28>
									<db>choose an attribute</db>
									<file>expiration_date</file>
									<format></format>
								</item28>
								
							</product>
						</map>
					</gui_data>
					
				</google_merchant_center>
				<yatego>
					<name>yatego</name>
					<entity_type>product</entity_type>
					<direction>export</direction>
					<gui_data>
						<export>
							<add_url_field>1</add_url_field>
						</export>
						<file>
							<type>file</type>
							<filename>yatego.csv</filename>
							<path>psexport</path>
						</file>
						<parse>
							<type>csv</type>
							<delimiter>\t</delimiter>
							<enclose></enclose>
							<fieldnames>true</fieldnames>
						</parse>
						<map>
							<only_specified>true</only_specified>
							<product>
								<item1>
									<db>sku</db>
									<file>foreign_id</file>
									<format></format>
								</item1>
								<item2>
									<db>sku</db>
									<file>article_nr</file>
									<format></format>
								</item2>
								<item3>
									<db>name</db>
									<file>title</file>
									<format></format>
								</item3>
								<item4>
									<db>tax_class_id</db>
									<file>tax</file>
									<format></format>
								</item4>
								<item5>
									<db>price</db>
									<file>price</file>
									<format>%01.2f</format>
								</item5>
								<item6>
									<db>price</db>
									<file>price_uvp</file>
									<format>%01.2f</format>
								</item6>
								<item7>
									<db>price</db>
									<file>price_purchase</file>
									<format>%01.2f</format>
								</item7>
								<item8>
									<db>choose an attribute</db>
									<file>tax_differential</file>
									<format></format>
								</item8>
								<item9>
									<db>choose an attribute</db>
									<file>units</file>
									<format></format>
								</item9>
								<item10>
									<db>fixed_value_format</db>
									<file>delivery_surcharge</file>
									<format></format>
								</item10>
								<item11>
									<db>choose an attribute</db>
									<file>delivery_calc_once</file>
									<format></format>
								</item11>
								<item12>
									<db>short_description</db>
									<file>short_desc</file>
									<format></format>
								</item12>
								<item13>
									<db>description</db>
									<file>long_desc</file>
									<format></format>
								</item13>
								<item14>
									<db>url</db>
									<file>url</file>
									<format></format>
								</item14>
								<item15>
									<db>choose an attribute</db>
									<file>auto_linefeet</file>
									<format></format>
								</item15>
								<item16>
									<db>image</db>
									<file>picture</file>
									<format></format>
								</item16>
								<item17>
									<db>choose an attribute</db>
									<file>picture2</file>
									<format></format>
								</item17>
								<item18>
									<db>choose an attribute</db>
									<file>picture3</file>
									<format></format>
								</item18>
								<item19>
									<db>choose an attribute</db>
									<file>picture4</file>
									<format></format>
								</item19>
								<item20>
									<db>choose an attribute</db>
									<file>picture5</file>
									<format></format>
								</item20>
								<item21>
									<db>choose an attribute</db>
									<file>size</file>
									<format></format>
								</item21>
								<item22>
									<db>choose an attribute</db>
									<file>categories</file>
									<format></format>
								</item22>
								<item23>
									<db>choose an attribute</db>
									<file>variants</file>
									<format></format>
								</item23>
								<item24>
									<db>choose an attribute</db>
									<file>discount_set_id</file>
									<format></format>
								</item24>
								<item25>
									<db>fixed_value_format</db>
									<file>stock</file>
									<format></format>
								</item25>
								<item26>
									<db>choose an attribute</db>
									<file>delivery_date</file>
									<format></format>
								</item26>
								<item27>
									<db>choose an attribute</db>
									<file>quantity_unit</file>
									<format></format>
								</item27>
								<item28>
									<db>choose an attribute</db>
									<file>package_size</file>
									<format></format>
								</item28>
								<item29>
									<db>choose an attribute</db>
									<file>cross_selling</file>
									<format></format>
								</item29>
								<item30>
									<db>choose an attribute</db>
									<file>item_groupe_id</file>
									<format></format>
								</item30>
								<item31>
									<db>sku</db>
									<file>ean</file>
									<format></format>
								</item31>
								<item32>
									<db>choose an attribute</db>
									<file>isbn</file>
									<format></format>
								</item32>
								<item33>
									<db>manufacturer</db>
									<file>manufacturer</file>
									<format></format>
								</item33>
								<item34>
									<db>choose an attribute</db>
									<file>mpn</file>
									<format></format>
								</item34>
								<item35>
									<db>choose an attribute</db>
									<file>delitem</file>
									<format></format>
								</item35>
								<item36>
									<db>choose an attribute</db>
									<file>status</file>
									<format></format>
								</item36>
								<item37>
									<db>choose an attribute</db>
									<file>top_offer</file>
									<format></format>
								</item37>
							</product>
						</map>
					</gui_data>
					
				</yatego>
				<shopzilla>
					<name>shopzilla</name>
					<entity_type>product</entity_type>
					<direction>export</direction>
					<gui_data>
						<export>
							<add_url_field>1</add_url_field>
						</export>
						<file>
							<type>file</type>
							<filename>shopzilla.csv</filename>
							<path>psexport</path>
						</file>
						<parse>
							<type>csv</type>
							<delimiter>\t</delimiter>
							<enclose></enclose>
							<fieldnames>true</fieldnames>
						</parse>
						<map>
							<only_specified>true</only_specified>
							<product>
								<item1>
									<db>choose an attribute</db>
									<file>kategorie</file>
									<format></format>
								</item1>
								<item2>
									<db>manufacturer</db>
									<file>Hersteller</file>
									<format></format>
								</item2>
								<item3>
									<db>name</db>
									<file>Bezeichnung</file>
									<format></format>
								</item3>
								<item4>
									<db>description</db>
									<file>Beschreibung</file>
									<format></format>
								</item4>
								<item5>
									<db>url</db>
									<file>Artikel-URL</file>
									<format></format>
								</item5>
								<item6>
									<db>image_url</db>
									<file>Bild-URL</file>
									<format></format>
								</item6>
								<item7>
									<db>sku</db>
									<file>SKU</file>
									<format></format>
								</item7>
								<item8>
									<db>fixed_value_format</db>
									<file>Bestand</file>
									<format>Auf Lager</format>
								</item8>
								<item9>
									<db>fixed_value_format</db>
									<file>Zustand</file>
									<format>Neu</format>
								</item9>
								<item10>
									<db>weight</db>
									<file>Vernsadtgewicht</file>
									<format></format>
								</item10>
								<item11>
									<db>fixed_value_format</db>
									<file>Versandtkosten</file>
									<format></format>
								</item11>
								<item12>
									<db>choose an attribute</db>
									<file>Gebot</file>
									<format></format>
								</item12>
								<item13>
									<db>fixed_value_format</db>
									<file>Werbetext</file>
									<format>2 5</format>
								</item13>
								<item14>
									<db>fixed_value_format</db>
									<file>EAN/UPC</file>
									<format></format>
								</item14>
								<item15>
									<db>price</db>
									<file>Preis</file>
									<format></format>
								</item15>								
							</product>
						</map>
					</gui_data>
					
				</shopzilla>
				<preisroboter>
					<name>preisroboter</name>
					<entity_type>product</entity_type>
					<direction>export</direction>
					<gui_data>
						<export>
							<add_url_field>1</add_url_field>
						</export>
						<file>
							<type>file</type>
							<filename>preisroboter.csv</filename>
							<path>psexport</path>
						</file>
						<parse>
							<type>csv</type>
							<delimiter>\t</delimiter>
							<enclose></enclose>
							<fieldnames>true</fieldnames>
						</parse>
						<map>
							<only_specified>true</only_specified>
							<product>
								<item1>
									<db>sku</db>
									<file>Artikelnummer</file>
									<format></format>
								</item1>
								<item2>
									<db>name</db>
									<file>Artikelname</file>
									<format></format>
								</item2>
								<item3>
									<db>url_key</db>
									<file>Deeplink zum Artikel</file>
									<format></format>
								</item3>
								<item4>
									<db>price</db>
									<file>Bruttopreis</file>
									<format>%01.2f</format>
								</item4>
								<item5>
									<db>description</db>
									<file>Artikelbeschreibung</file>
									<format></format>
								</item5>
								<item6>
									<db>manufacturer</db>
									<file>Hersteller </file>
									<format></format>
								</item6>
								<item7>
									<db>image</db>
									<file>Link zum Artikelbild</file>
									<format></format>
								</item7>
								<item8>
									<db>fixed_value_format</db>
									<file>Lieferzeit</file>
									<format></format>
								</item8>
								<item9>
									<db>sku</db>
									<file>EAN</file>
									<format></format>
								</item9>
								<item10>
									<db>choose an attribute</db>
									<file>Hersteller-Artikelnummer</file>
									<format></format>
								</item10>
								<item11>
									<db>choose an attribute</db>
									<file>ISBN</file>
									<format></format>
								</item11>
								<item12>
									<db>choose an attribute</db>
									<file>Versandkosten</file>
									<format></format>
								</item12>
								<item13>
									<db>choose an attribute</db>
									<file>Links zu Datenbl‰ttern</file>
									<format></format>
								</item13>
								<item14>
									<db>choose an attribute</db>
									<file>sonstige relevante Informationen zum Produkt</file>
									<format></format>
								</item14>							
							</product>
						</map>
					</gui_data>
					
				</preisroboter>
				<kelkoo>
					<name>kelkoo</name>
					<entity_type>product</entity_type>
					<direction>export</direction>
					<gui_data>
						<export>
							<add_url_field>1</add_url_field>
						</export>
						<file>
							<type>file</type>
							<filename>kelkoo.csv</filename>
							<path>psexport</path>
						</file>
						<parse>
							<type>csv</type>
							<delimiter>\t</delimiter>
							<enclose></enclose>
							<fieldnames>true</fieldnames>
						</parse>
						<map>
							<only_specified>true</only_specified>
							<product>
								<item1>
									<db>url_key</db>
									<file>url</file>
									<format></format>
								</item1>
								<item2>
									<db>name</db>
									<file>title</file>
									<format></format>
								</item2>
								<item3>
									<db>short_description</db>
									<file>description</file>
									<format></format>
								</item3>
								<item4>
									<db>price</db>
									<file>price</file>
									<format>%01.2f</format>
								</item4>
								<item5>
									<db>description</db>
									<file>Artikelbeschreibung</file>
									<format></format>
								</item5>
								<item6>
									<db>sku</db>
									<file>offerid</file>
									<format></format>
								</item6>
								<item7>
									<db>image</db>
									<file>image</file>
									<format></format>
								</item7>
								<item8>
									<db>fixed_value_format</db>
									<file>availability</file>
									<format>001</format>
								</item8>
								<item9>
									<db>fixed_value_format</db>
									<file>deliverycost</file>
									<format></format>
								</item9>
								<item10>
									<db>fixed_value_format</db>
									<file>deliveryTime</file>
									<format></format>
								</item10>
								<item11>
									<db>fixed_value-format</db>
									<file>warranty</file>
									<format>2 Jahre gesetzliche Garantie</format>
								</item11>
								<item12>
									<db>fixed_value-format</db>
									<file>ecotax</file>
									<format>0</format>
								</item12>
								<item13>
									<db>price</db>
									<file>unitaryPrice</file>
									<format>%01.2f</format>
								</item13>							
							</product>
						</map>
					</gui_data>
					
				</kelkoo>
				<wir-lieben-preise.de>
					<name>wir-lieben-preise.de</name>
					<entity_type>product</entity_type>
					<direction>export</direction>
					<gui_data>
						<export>
							<add_url_field>1</add_url_field>
						</export>
						<file>
							<type>file</type>
							<filename>wir-lieben-preise.csv</filename>
							<path>psexport</path>
						</file>
						<parse>
							<type>csv</type>
							<delimiter>\t</delimiter>
							<enclose></enclose>
							<fieldnames>true</fieldnames>
						</parse>
						<map>
							<only_specified>true</only_specified>
							<product>
								<item1>
									<db>url_key</db>
									<file>url</file>
									<format></format>
								</item1>
								<item2>
									<db>name</db>
									<file>title</file>
									<format></format>
								</item2>
								<item3>
									<db>description</db>
									<file>description</file>
									<format></format>
								</item3>
								<item4>
									<db>image</db>
									<file>image</file>
									<format></format>
								</item4>
								<item5>
									<db>price</db>
									<file>price</file>
									<format>%01.2f</format>
								</item5>
								<item6>
									<db>manufacturer</db>
									<file>manufacturer</file>
									<format></format>
								</item6>
								<item7>
									<db>fixed_value_format</db>
									<file>shipping</file>
									<format></format>
								</item7>
								<item8>
									<db>price</db>
									<file>unitaryPrice</file>
									<format>%01.2f</format>
								</item8>
								
							</product>
						</map>
					</gui_data>
					
				</wir-lieben-preise.de>
			</templates>
		</flagbit_psexport>
		
		<general>
            <file>
                <importexport_local_valid_paths>
                    <available>
                        <psexport>psexport/*/*.csv</psexport>
                    </available>
                </importexport_local_valid_paths>
            </file>
        </general>
		
	</default>	
				
    <adminhtml>
        <translate>
            <modules>
                <flagbit_psexport>
                    <files>
                        <default>Flagbit_PSExport.csv</default>
                    </files>
                </flagbit_psexport>
            </modules>
        </translate>
        <layout>
            <updates>
                <flagbit_psexport>
                    <file>flagbit/psexport.xml</file>
                </flagbit_psexport>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <flagbit_psexport before="Mage_Adminhtml">Flagbit_PSExport_Adminhtml</flagbit_psexport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>				
					
</config>
