/* MEP-Styles */

.adminhtml-profile-edit div.mapping-dialog {
    padding: 20px 10px;
}

    .adminhtml-profile-edit div.mapping-dialog ul.formfield_list li {
        display: block;
    }

    .adminhtml-profile-edit div.mapping-dialog label {
        color: #D85909;
        font-weight: bold;
    }

    .adminhtml-profile-edit div.mapping-dialog label,
    .adminhtml-profile-edit div.mapping-dialog .input-box {
        float: left;
        width: 200px;
    }

    .adminhtml-profile-edit div.mapping-dialog input {
        margin-bottom: 5px;
    }
    .adminhtml-profile-edit div.mapping-dialog input {
        width: 167px;
    }
    .adminhtml-profile-edit div.mapping-dialog button {
        margin-top: 10px;
    }

    .adminhtml-profile-edit #widget_window .magento_content {
        height: auto !important;
        min-height: 320px;
    }


.adminhtml-shipping-edit div.mapping-dialog {
    padding: 20px 10px;
}

    .adminhtml-shipping-edit div.mapping-dialog ul.formfield_list li {
        display: block;
    }

    .adminhtml-shipping-edit div.mapping-dialog label {
        color: #D85909;
        font-weight: bold;
    }

    .adminhtml-shipping-edit div.mapping-dialog label,
    .adminhtml-shipping-edit div.mapping-dialog .input-box {
        float: left;
        width: 200px;
    }
    .adminhtml-shipping-edit div.mapping-dialog select,
    .adminhtml-shipping-edit div.mapping-dialog input {
        margin-bottom: 5px;
        width: 167px;
    }
    .adminhtml-shipping-edit div.mapping-dialog button {
        margin-top: 10px;
    }

    .adminhtml-shipping-edit #widget_window .magento_content {
        height: auto !important;
        min-height: 320px;
    }


.content-header h3.head-adminhtml-profile-view,
.content-header h3.head-adminhtml-profile-edit,
.content-header h3.head-adminhtml-shipping-view,
.content-header h3.head-adminhtml-shipping-edit,
.content-header h3.head-adminhtml-shipping-index,
.content-header h3.head-adminhtml-attribute-view,
.content-header h3.head-adminhtml-attribute-edit,
.content-header h3.head-adminhtml-attribute-index
{
    background-image: url("images/mep-logo-icon.png");
}