/* MEP-Styles */

.adminhtml-profile-edit div.mapping-dialog {
    padding: 10px;
}

.adminhtml-profile-edit div.mapping-dialog ul.formfield_list li {
    display: block;
}

.adminhtml-profile-edit div.mapping-dialog label {
    color: #D85909;
    font-weight: bold;
}

.adminhtml-profile-edit div.mapping-dialog select {
    margin-bottom: 15px;
}

.adminhtml-profile-edit div.mapping-dialog label {
    margin-right: 5px;
}

.adminhtml-profile-edit div.mapping-dialog li.block-checkbox {
    margin: 5px 0px;
}

.adminhtml-profile-edit div.mapping-dialog input {
    margin-bottom: 5px;
    width: 167px;
}

.adminhtml-profile-edit div.mapping-dialog .input-checkbox {
    width: 15px;
}
.adminhtml-profile-edit div.mapping-dialog button {
    margin-top: 10px;
}

.adminhtml-profile-edit div.mapping-dialog #inheritance_type_block {
    padding-left: 37px;
    margin-left: 5px;
    background-image: url(images/down_right.png);
    background-repeat: no-repeat;
    background-position-y: -10px;
}

.adminhtml-profile-edit #widget_window .magento_content {
    min-height: 0 !important;
}

.adminhtml-shipping-edit div.mapping-dialog {
    padding: 20px 10px;
}

.adminhtml-profile-edit .dialog .attribute-mapping-window_close {
    width: 20px;
    height: 20px;
    background-color: transparent;
    position: absolute;
    top: 33px;
    right: -45px;
    cursor: pointer;
    color: #D85909;
}
.adminhtml-profile-edit .dialog .attribute-mapping-window_close:after {
    content: "x";
    font-size: 20px;
}

.adminhtml-profile-edit .dialog div.attribute-mapping-window_content {
    padding: 20px;
    background-color: #FFF6ED;
    border: 2px solid #F3BE8E;
    color: #D85909;
}
.adminhtml-profile-edit .dialog div.attribute-mapping-window_content li {
    overflow: hidden;
    display: block;
}

.adminhtml-profile-edit .dialog div.attribute-mapping-window_content label {
    color: #D85909;
    font-weight: bold;
}

.adminhtml-profile-edit .dialog div.attribute-mapping-window_content input,
.adminhtml-profile-edit .dialog div.attribute-mapping-window_content select {
    margin-bottom: 5px;
}
.adminhtml-profil-edit .dialog div.attribute-mapping-window_content input {
    width: 167px;
}
.adminhtml-profile-edit .dialog div.attribute-mapping-window_content input.form-button {
    width: 100px;
    margin-top: 10px;
}

.adminhtml-profile-edit #preview-table {
    margin: 0px 0px 5px !important;
}

.adminhtml-profile-edit .popup-window .magento_message {
    padding: 0px !important;
}

.adminhtml-profile-edit #widget_window.popup-window {
    width: 99% !important;
    height: auto !important;
    top: 0px !important;
    left: 0px !important;
    margin: auto !important;
    right: 0px;
    margin-top: 1% !important;
}

.adminhtml-profile-edit #widget_window {
    display: none;
}

.adminhtml-profile-edit #widget_window.dialog {
    border: none;
}

.adminhtml-profile-edit #loading-mask {
    z-index: 2000 !important;
}

.adminhtml-profile-edit #widget_window.popup-window #widget_window_table_content.magento_content {
    padding: 5px 5px 0px !important;
}

.adminhtml-profile-edit #widget_window_content.magento_content {
    position: relative;
    width: auto !important;
}

.adminhtml-profile-edit .magento_e, .adminhtml-profile-edit .magento_w {
    width: 0px !important;
}

.adminhtml-profile-edit .dialog table.table_window {
    table-layout:fixed !important;
}

.adminhtml-profile-edit #widget_window.attr-popup-window {
    width: 320px !important;
}

.adminhtml-profile-edit #widget_window.attr-popup-window #widget_window_content.magento_content {
    overflow: hidden;
}

/* MEP Add attribute dialog box styles */
.adminhtml-profile-edit .dialog table#widget_window_row1,
.adminhtml-profile-edit .dialog table#widget_window_row2,
.adminhtml-profile-edit .dialog table#widget_window_row3 {
    width: 490px;
}

#widget_window.dialog .magento_close {
    right: -165px;
}

.mapping-dialog .chzn-drop,
.mapping-dialog .chzn-results,
.chosen-container .chosen-results {
    height: 150px;
}

.chosen-container .chosen-drop,
.chosen-container .chosen-choices{
    width: 470px;
}
/* MEP Add attribute dialog box styles  END */
