/* MEP-Styles */

.adminhtml-profil-edit .overlay_attribute-mapping-window {
}
.adminhtml-profil-edit .dialog {
	margin: auto;
	position: fixed;
}
	.adminhtml-profil-edit .dialog .attribute-mapping-window_close {
		width: 20px;
		height: 20px;
		background-color: transparent;
		position: absolute;
		top: 33px;
		right: -45px;
		cursor: pointer;
		color: #D85909;
	}
	.adminhtml-profil-edit .dialog .attribute-mapping-window_close:after {
		content: "x";
		font-size: 20px;
	}
		
	.adminhtml-profil-edit .dialog div.attribute-mapping-window_content {
		padding: 20px;
		background-color: #FFF6ED;
		border: 2px solid #F3BE8E;
		color: #D85909;
	}
		.adminhtml-profil-edit .dialog div.attribute-mapping-window_content input,
		.adminhtml-profil-edit .dialog div.attribute-mapping-window_content select {
			margin-bottom: 5px;
		}
		.adminhtml-profil-edit .dialog div.attribute-mapping-window_content button {
			margin-top: 10px;
		}
